section{
    background:rgb(135, 164, 193);
    height:400px;
    position:relative;
}
.sectionbox{
    position:absolute;
    top:30%;
    left:15%;
}
section h1{
    font-size:70px;
    color:#fff;
}
section span::before{
    content:"#";
    margin-right:5px;
}
section span{
    margin-right:20px;
    color:#efefef;
}