body {
  margin:0;
  padding:0;
  font-family:'Akshar', 'Noto Sans KR', sans-serif;
  font-size:16px;
  color:#333;
}
a, a:hover{
  color:#333;
  text-decoration:none;
}

/* dailypost */

ul.dailyul li{
  border-bottom:1px solid #333;
  align-items:center;
  height:50px;
}
a.daily-title{
  display:block;
}