ul.dailylist{
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
    border-top:1px solid #333;
}
ul.dailylist li{
    border-bottom:1px solid #333;
    align-items:center;
    height:50px;
}
a.daily-title{
    display:block;
}