.hobbycontent{
    width:90%;
    padding:20px 25px;
    margin:0 auto 40px;
    background:#ededed;
    border-radius:10px;
    box-shadow:5px 5px 5px #999;
}
.hobbydesc{
    display:flex;
}
.hobbyphoto{
    flex:2;
}
.hobbyphoto img{
    width:150px;
}
.hobbyco{
    flex:10;
    padding:0 30px;
}