.travelbox{
    width:100%;
    height:auto;
    border:1px solid #333;
    border-radius:5px;
    align-items:center;
    margin:10px 0 30px;
}
.travelplace{
    width:150px;
    height:30px;
    border-radius:5px;
    background:#555;
    text-align:center;
}
.travelplace a{
    display:block;
    color:#fff;
    line-height:30px;
    font-size:20px;
}
.travelplace a:hover{
    font-weight:700;
}
.travelbox img{
    width:250px;
    height:180px;
    margin:15px;
}